<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Data-Intake-and-Integrity-Checks" data-toc-modified-id="Data-Intake-and-Integrity-Checks-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Data Intake and Integrity Checks</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Import-tooling" data-toc-modified-id="Import-tooling-1.0.1"><span class="toc-item-num">1.0.1&nbsp;&nbsp;</span>Import tooling</a></span></li><li><span><a href="#Import-Data" data-toc-modified-id="Import-Data-1.0.2"><span class="toc-item-num">1.0.2&nbsp;&nbsp;</span>Import Data</a></span></li><li><span><a href="#Visual-Inspection" data-toc-modified-id="Visual-Inspection-1.0.3"><span class="toc-item-num">1.0.3&nbsp;&nbsp;</span>Visual Inspection</a></span></li><li><span><a href="#Check-Datatypes" data-toc-modified-id="Check-Datatypes-1.0.4"><span class="toc-item-num">1.0.4&nbsp;&nbsp;</span>Check Datatypes</a></span></li><li><span><a href="#Check-for-Missing-Data" data-toc-modified-id="Check-for-Missing-Data-1.0.5"><span class="toc-item-num">1.0.5&nbsp;&nbsp;</span>Check for Missing Data</a></span></li><li><span><a href="#Restructuring--datetime-fields" data-toc-modified-id="Restructuring--datetime-fields-1.0.6"><span class="toc-item-num">1.0.6&nbsp;&nbsp;</span>Restructuring  datetime fields</a></span></li><li><span><a href="#Adding-Calculated-Columns-of-Interest" data-toc-modified-id="Adding-Calculated-Columns-of-Interest-1.0.7"><span class="toc-item-num">1.0.7&nbsp;&nbsp;</span>Adding Calculated Columns of Interest</a></span></li><li><span><a href="#Exporting-processed-data" data-toc-modified-id="Exporting-processed-data-1.0.8"><span class="toc-item-num">1.0.8&nbsp;&nbsp;</span>Exporting processed data</a></span></li></ul></li></ul></li></ul></div>

# Data Intake and Integrity Checks

### Import tooling

In [1]:
import pandas as pd  # for handling tabular data
from pandas import ExcelWriter # for writing multiple dataframes back into one file
import numpy as np

### Import Data

In [2]:
traffic_source = pd.read_excel(
    "../data/raw/Soapbox Data analyst Project Dataset.xlsx", sheet_name='traffic source'
)
geo_location = pd.read_excel(
    "../data/raw/Soapbox Data analyst Project Dataset.xlsx", sheet_name= 'geo location'
)
device = pd.read_excel(
    "../data/raw/Soapbox Data analyst Project Dataset.xlsx", sheet_name= 'device'
)
demos = pd.read_excel(
    "../data/raw/Soapbox Data analyst Project Dataset.xlsx", sheet_name= 'demographics'
)

### Visual Inspection

In [3]:
print('traffic_source Shape\n-------\nRows:{r}\nCols:{c}'.format(r = traffic_source.shape[0], c = traffic_source.shape[1]))
traffic_source.sample(10)

traffic_source Shape
-------
Rows:68
Cols:5

,Month of Year,Traffic Channel,Sessions,Bounce Rate,Email Capture Conversion Rate
58,202004,other referral,20702,0.765960,0.028841
39,201911,pinterest,76482,0.860492,0.022233
50,202002,other referral,13963,0.727210,0.029978
48,202002,direct,15821,0.744737,0.020513
53,202003,organic search,86713,0.874690,0.014237
41,201912,organic search,95119,0.883622,0.013306
34,201910,other referral,16504,0.754762,0.027833
14,201905,other referral,18960,0.726257,0.025257
46,202001,other referral,13860,0.799420,0.026989
3,201902,pinterest,98331,0.806271,0.023318

In [4]:
print('geo_location Shape\n-------\nRows:{r}\nCols:{c}'.format(r = geo_location.shape[0], c = geo_location.shape[1]))
geo_location.sample(10)

geo_location Shape
-------
Rows:188
Cols:5

,Country,Sessions,Bounce Rate,Avg. Session Duration,Email Capture Conversion Rate
19,Indonesia,130,0.823077,29.492308,0.019313
122,Brunei,6,1.000000,0.000000,0.019054
126,Uruguay,6,0.666667,25.000000,0.018893
20,Italy,125,0.760000,52.600000,0.019271
47,Saudi Arabia,53,0.773585,33.094340,0.018828
124,Cambodia,6,1.000000,0.000000,0.019048
161,St. Barthélemy,1,1.000000,0.000000,0.018561
177,Maldives,1,0.000000,9.000000,0.019267
39,Colombia,61,0.901639,9.672131,0.019085
73,Guatemala,27,0.851852,17.629630,0.019623

In [5]:
print('device Shape\n-------\nRows:{r}\nCols:{c}'.format(r = device.shape[0], c = device.shape[1]))
device.sample(10)

device Shape
-------
Rows:39
Cols:5

     Month   Device       Sessions  Bounce Rate  Email Capture Conversion Rate
6   201908  desktop   33865.861912     0.683775                       0.024679
21  202001  desktop   35300.561345     0.621414                       0.021531
18  201912  desktop   51184.635849     0.745349                       0.025499
24  202002  desktop   37062.821892     0.690095                       0.023779
5   201907   tablet    8085.171354     0.789177                       0.011500
22  202001   mobile  150239.989475     0.880706                       0.017877
27  202003  desktop   35409.214842     0.707935                       0.022765
4   201907   mobile  117721.070454     0.844455                       0.018955
34  202005   mobile  154709.961875     0.860709                       0.018647
38  202006   tablet    3968.339328     0.792146                       0.000000

In [6]:
print('Demographics Shape\n-------\nRows:{r}\nCols:{c}'.format(r = demos.shape[0], c = demos.shape[1]))
demos.sample(10)

Demographics Shape
-------
Rows:12
Cols:3

      Age  Gender  Users
3   35-44  female  12204
4     65+  female  10371
2   55-64  female  13352
1   45-54  female  15413
11    65+    male    894
5   18-24  female   5335
8   45-54    male   1129
7   35-44    male   1436
0   25-34  female  17650
6   25-34    male   2047

### Check Datatypes

In [7]:
for i in [traffic_source, geo_location, device, demos]:
    print(i.dtypes)
    print("\n")

Month of Year                      int64
Traffic Channel                   object
Sessions                           int64
Bounce Rate                      float64
Email Capture Conversion Rate    float64
dtype: object


Country                           object
Sessions                           int64
Bounce Rate                      float64
Avg. Session Duration            float64
Email Capture Conversion Rate    float64
dtype: object


Month                              int64
Device                            object
Sessions                         float64
Bounce Rate                      float64
Email Capture Conversion Rate    float64
dtype: object


Age       object
Gender    object
Users      int64
dtype: object

Notes:
    
* Month of Year is stored as an integer and will need conversion to datetime for some of pandas's helpful plotting options / for ordering in general
* Bounce rate and email capture rate are floats. I should check that all rates across these tables share the same units (percentages). It's safe to assume coming from GA but I'll double check
* In the demographics data, age is binned (unsurprising, as bins exist in GA) (object type implies strings here)

### Check for Missing Data

In [8]:
for i in [traffic_source, geo_location, device, demos]:
    print(i.isnull().sum() / len(i))
    print("\n\n")

Month of Year                    0.0
Traffic Channel                  0.0
Sessions                         0.0
Bounce Rate                      0.0
Email Capture Conversion Rate    0.0
dtype: float64



Country                          0.0
Sessions                         0.0
Bounce Rate                      0.0
Avg. Session Duration            0.0
Email Capture Conversion Rate    0.0
dtype: float64



Month                            0.0
Device                           0.0
Sessions                         0.0
Bounce Rate                      0.0
Email Capture Conversion Rate    0.0
dtype: float64



Age       0.0
Gender    0.0
Users     0.0
dtype: float64

### Restructuring  datetime fields

I'm adding a column for month_year_dt which is a datetime type value capturing the month and year data. Two dataframes need this: traffic_source and device.

In [9]:
# small data, can just use visual inspection to check for any missing values
print("Original month year (YYYYmm) field values: \n\n", traffic_source["Month of Year"].unique())

# create datetime field for plotting and other helpful dataframe operations later
traffic_source["month_year_dt"] = pd.to_datetime(
    traffic_source["Month of Year"], format="%Y%m")

print("\n\nAfter reformatting: \n\n", traffic_source.month_year_dt.unique())

Original month year (YYYYmm) field values:

 [201902 201903 201904 201905 201906 201907 201908 201909 201910 201911
 201912 202001 202002 202003 202004 202005 202006]


After reformatting:

 ['2019-02-01T00:00:00.000000000' '2019-03-01T00:00:00.000000000'
 '2019-04-01T00:00:00.000000000' '2019-05-01T00:00:00.000000000'
 '2019-06-01T00:00:00.000000000' '2019-07-01T00:00:00.000000000'
 '2019-08-01T00:00:00.000000000' '2019-09-01T00:00:00.000000000'
 '2019-10-01T00:00:00.000000000' '2019-11-01T00:00:00.000000000'
 '2019-12-01T00:00:00.000000000' '2020-01-01T00:00:00.000000000'
 '2020-02-01T00:00:00.000000000' '2020-03-01T00:00:00.000000000'
 '2020-04-01T00:00:00.000000000' '2020-05-01T00:00:00.000000000'
 '2020-06-01T00:00:00.000000000']

### Adding Calculated Columns of Interest

In [10]:
# small data, can just use visual inspection to check for any missing values
print("Original month year (YYYYmm) field values: \n\n", device["Month"].unique())

# create datetime field for plotting and other helpful dataframe operations later
device["month_year_dt"] = pd.to_datetime(
    device["Month"], format="%Y%m")

print("\n\nAfter reformatting: \n\n", device.month_year_dt.unique())

Original month year (YYYYmm) field values:

 [201906 201907 201908 201909 201910 201911 201912 202001 202002 202003
 202004 202005 202006]


After reformatting:

 ['2019-06-01T00:00:00.000000000' '2019-07-01T00:00:00.000000000'
 '2019-08-01T00:00:00.000000000' '2019-09-01T00:00:00.000000000'
 '2019-10-01T00:00:00.000000000' '2019-11-01T00:00:00.000000000'
 '2019-12-01T00:00:00.000000000' '2020-01-01T00:00:00.000000000'
 '2020-02-01T00:00:00.000000000' '2020-03-01T00:00:00.000000000'
 '2020-04-01T00:00:00.000000000' '2020-05-01T00:00:00.000000000'
 '2020-06-01T00:00:00.000000000']

In [11]:
# visualizing some metrics in terms of user volume may be helpful later

# by channel
traffic_source['bounced_sessions'] = np.round(traffic_source['Sessions'] * traffic_source['Bounce Rate'],0)
traffic_source['email_conv_sessions'] = np.round(traffic_source['Sessions'] * traffic_source['Email Capture Conversion Rate'],0)

# by geography
geo_location['bounced_sessions'] = np.round(geo_location['Sessions'] * geo_location['Bounce Rate'],0)
geo_location['email_conv_sessions'] = np.round(geo_location['Sessions'] * geo_location['Email Capture Conversion Rate'],0)
geo_location['total_duration'] = geo_location['Avg. Session Duration'] * geo_location['Sessions'] # estimate of time per country
geo_location['pct_overall_sessions'] = geo_location['Sessions'] / geo_location['Sessions'].sum()

# by device
device['bounced_sessions'] = np.round(device['Sessions'] * device['Bounce Rate'],0)
device['email_conv_sessions'] = np.round(device['Sessions'] * device['Email Capture Conversion Rate'],0)

### Exporting processed data

In [12]:
# store list of dataframes for parsing
df_list = [traffic_source, geo_location, device, demos]
sheet_names = ['traffic_source', 'geo_location', 'device', 'demos']

writer = ExcelWriter('../data/processed/ga_export_processed.xlsx')
for n, df in enumerate(df_list):
    df.to_excel(writer, sheet_name = sheet_names[n], index=False)
    writer.save()